body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color of the page */
}

.container {
    display: flex;

}

.square {
    width: 50px; /* Set the width of each square with a 2px margin */
    height: 50px; /* Set the height of each square with a 2px margin */
    box-sizing: border-box;
    margin: 1px; /* Margin to create a gap between squares */
    background-color: #fff; /* Default background color of the squares */
    border: 1px solid #ccc; /* Border color of the squares */
    transition: background-color .3s; /* Smooth transition for hover effect */
}


.square.active {
    background-color: black; /* Background color for permanently active squares */
}